<form class="">
  <div class="logInForm">
  <form>
    <label for="username">Username: </label>
    {{input value=username}}
    <label for="password">Password: </label>
    {{input type="password" value=password}}
    <button {{action 'logIn' users}}>Log In</button>
  </form>
</div>
</form>
