<nav class="navbar navbar-default">
  <div class="navbar-header">
    <ul>
      <li class="inline">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="inline">{{#link-to 'species' }}Dogs{{/link-to}}</li>
    </ul>
  </div>
</nav>
