<nav class="navbar navbar-default">
  <div class="navbar-header">
    <ul>
      <li class="inline">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="inline">{{#link-to 'species' 'dog'}}Dogs{{/link-to}}</li>
      <li class="inline">{{#link-to 'species' 'cat'}}Cats{{/link-to}}</li>
      <li class="inline">{{#link-to 'species' 'hedgehog'}}Hedgehogs{{/link-to}}</li>
      <li class="inline">{{#link-to 'species' 'snake'}}Snakes{{/link-to}}</li>
      <li class="inline">{{#link-to 'species' 'monkey'}}Monkeys{{/link-to}}</li>
    </ul>
  </div>
</nav>
