<form class="">
  <div class="productForm">
  <form>
    <label for="name">Name: </label>
    {{input value=name}}
    <label for="username">Username: </label>
    {{input value=username}}
    <label for="password">Password: </label>
    {{input type="password" value=password}}
    <button {{action 'saveUser'}}>Save</button>
  </form>
</div>
</form>
