<div class="SignUpForm">
<form>
  <form>
    <label for="name">Name: :):) </label>
    {{input value=name}}
    <br>
    <br>
    <label for="username">Username: </label>
    {{input value=username}}
    <br>
    <br>
    <label for="password">Password: </label>
    {{input type="password" value=password}}
    <br>
    <br>
    <button {{action 'saveUser'}}>Save</button>
  </form>
</form>

<img src="https://www.petfinder.com/wp-content/uploads/2013/11/petfinder3.png" alt="dog and cat" />
</div>
