<div class="SignUpForm">
<form>
  <form>
    <label for="name">Name: :):) </label>
    {{input value=name}}
    <br>
    <hr>
    <label for="username">Username: </label>
    {{input value=username}}
    <br>
    <hr>
    <label for="password">Password: </label>
    {{input type="password" value=password}}
    <br>
    <hr>
    <button {{action 'saveUser'}}>Save</button>
  </form>
</form>
</div>
