*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: blackjack;

  src: url('blackjack.otf');
  src: url('blackjack.otf') format('truetype');
}

@font-face {
  font-family: blackjack;

  src: url('blackjack.otf');
  src: url('blackjack.otf') format('truetype');
}

.admin {
  width: 60%;
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
 input {
   width: 100%;
 }
 select {
   width: 100%;
 }
}

.container {
     padding:0;
     margin:0;
     width: 100%;
   }

a:hover {
  text-decoration: none;
}

#logo {
  font-size: 2.2em;
  font-weight: bold;
}

#logo:hover {
  text-shadow: 2px 2px 2px #bbb;
}

#shopping-crate {
  padding: 5px;

  img {
    max-height: 30px;
    margin-right: 10px;
  }

  #shopping-crate-tag {
    padding: 10px 10px 0 0;
    font-size: 1.2em;
  }
}

#shopping-crate button:hover {
  background-color: #e5eaec;
  box-shadow: 2px 2px 5px #369;
}

#avatar {
  max-width: 400px;
  margin: auto;
  padding: 30px 0 80px;
  display: block;
  text-align: center;
  background-image: url("http://thumbs.dreamstime.com/t/green-yellow-star-plaid-pattern-52174618.jpg");
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3),0px 20px 15px 0px rgba(0, 0, 0, 0.6);
  img {
    height: 300px;
    border-radius: 100%;
    border: 5px solid yellow;
    box-shadow: 2px 2px 2px #222;
    margin: auto;
    font-size: 1.5em;
  }
  p {
    font-size: 1.2em;
    margin: 20px;
    font-weight: bold;
    line-height: 1.5em;
    color: #eee;
    text-shadow: 1px 1px 1px #222;
  }
  img {
    margin-bottom: 15px;
  }
}

#plaque {
  padding: 5px 0 10px;
  background-image: url('/assets/cd131dba.png');
  max-width: 70%;
  margin: 30px auto 10px;
  border-radius: 5px;
  border-bottom: 3px solid #502900;
  border-right: 3px solid #502900;
}
.jumbotron {
  font-family: 'Merriweather', serif;
}

.block {
  display: block;
}

.inline {
  display: inline;
  margin: 0 20px 0 0;
}

.center {
  text-align: center;
}

.single_animal {
  max-width: 40%;
  margin-bottom: 30px;
}

.animal_display {
  img {
    max-width: 100%;
  }
}

.jumbotron {
  background-image: "http://delcospca.org/wp-content/uploads/2014/02/howtoadopt.jpg";
}

.float-right {
  float: right;
}

#shopping-crate a {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link {
    border:none;
    background-color: inherit;
}



video {
  z-index: 1;
  // border: 2px solid pink;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  // height: 80vh;
  margin-top: -75px;
}

.main-title {
  margin: 0;
  position: relative;
  background-color: black;
  font-family: blackjack;
  h1 {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 42%;
    text-align: center;
    font-size: 100px;
    color: maroon;
    text-shadow: 3px 3px 3px black;
    font-family: blackjack;
  }

  h5 {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 35%;
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px 3px white;

  }
 }

#logo a {
   color: white !important;
   text-shadow: 3px 3px 3px black;
}

.index-container {
  display:flex;
  flex-wrap: wrap;
}

.empty {
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.navbar-default {
  a{
   color: white !important;
   text-shadow: 2px 2px 2px black;
  }
   background-color: transparent;
   z-index: 2;
   border-color: transparent;
}
