<div class="container">
  <div class="row">
    <div class="col-sm-6">
    {{add-animal saveAnimalToStore="saveAnimalToStore"}}
    </div>
    <div class="col-sm-6">
      <h2 class="center">Inventory:</h2>
      <hr>
      {{#each model as |animal|}}
      {{admin-display animal=animal destroyAnimal='destroyAnimal' updateAnimal="updateAnimal"}}
      {{/each}}
    </div>
  </div>

</div>
