<div class="contain-here">

<div class="page-header">
  <h2>Shopping Crate</h2>
</div>
<div class="row">
  <div class="col-sm-6">
    {{#each model as |animal|}}
      {{checkout-tile animal=animal}}
    {{/each}}
  </div>
  {{#if model}}
    <button class="btn btn-lg btn-success" {{action 'checkout' model}}>Checkout</button>
  {{else}}
  <h2>Order something or we'll taunt your family</h2>
  {{/if}}
  <div class="col-sm-6">
    {{display-crate}}
  </div>
</div>
</div>
