<div class="main-title">

  <div class="video-container">
    <video autoplay loop class="fillWidth">
      <source src="/assets/baby.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div>
  <h1>SmuggleBud</h1>
  <h5>Black Market at your DOOR?</h5>
</div>


{{home-carousel}}

<div class="index-container">


<div class="empty">

</div>

<div class="empty">

</div>

<div class="empty">

</div>

<!-- <div class="empty">

</div> -->

</div>

<!-- <div class="footer">
  <button {{action 'checkAdmin' model}}>Log In</button>
</div> -->

<footer class="page-footer">
  <h1>&#169; TJMT Club 2016</h1>
  <div class="footer">
    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <button {{action 'checkAdmin' model}}>Admin Log In</button>
  </div>
</footer>
