<div class="main-title">

  <div class="video-container">
    <video autoplay loop class="fillWidth">
      <source src="/assets/f.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div>
  <h1>SmuggleBud</h1>
  <h5>Black Market at your DOOR?</h5>
</div>


{{home-carousel}}
<div class="writing1">
  <h3>Welcome to SmuggleBud</h3>
  <p>Not long ago our founder, Aundra, was looking for a birthday puma for her daughter.  Oddly enough, after checking the local pet shops and being asked to leave multiple zoos, Aundra came up empty handed. Unable to bear the bitter tears, which she knew would be the result of a puma-free birthday, Aundra turned to the black market.  While she eventually found a puma, Aundra felt her experience left much to be desired. Long delays, no yelp reviews, and no gift-wrapping?! With her spoiled daughter and the disgustingly rich and conscience-free consumer in mind, SmuggleBud was born.  So order your own cat, dog, or panda today, shipping and judgement-free.
  </p>
  <h4>Happy Hunting,<br> All of Us at SmuggleBud</h4>
</div>

<div class="index-container">


<div class="empty">
  <img src="http://news.nationalgeographic.com/content/dam/news/2016/01/26/great_white_shark/01great_white_shark.ngsversion.1453834801533.jpg" alt="friendly shark" />
</div>

<div class="empty">
  <img src="http://www.gannett-cdn.com/-mm-/7d9f1a1b095e75648c5f4220bb21fd1a7c1e3fa2/c=247-0-4009-2826&r=x513&c=680x510/local/-/media/CherryHill/CherryHill/2014/05/29//1401390825000-hippos-01.jpg" alt="hippo" />
</div>

<div class="empty">
  <img src="http://critterbabies.com/wp-content/uploads/2014/01/baby_puma.jpg" alt="baby puma" />
</div>

<div class="empty">
  <img src="http://i.dailymail.co.uk/i/pix/2008/05_01/cheekymonkeyPA_468x508.jpg" alt="hungry monkey" />
</div>



</div>


<div class="prior-footer">
  <img src="http://cdn-www.volusion.com/sites/default/files/footer-logos-us.jpg" alt="" />

</div>

<div class="footer1">
  <button {{action 'checkAdmin' model}}>Admin log-in</button>
</div>

<!-- <footer class="page-footer">
  <h1>&#169; TJMT Club 2016</h1>
  <div class="footer">
    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <button {{action 'checkAdmin' model}}>Admin Log In</button>
  </div>
</footer> -->

<!-- <footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>&#169; TJMT club 2016</p>
</footer> -->
