<div class="main-title">

  <div class="video-container">
    <video autoplay loop class="fillWidth">
      <source src="/assets/clark.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div>
  <h1>SmuggleBud</h1>
  <h5>Black Market at your DOOR?</h5>
</div>


{{home-carousel}}

<div class="index-container">


<div class="empty">

</div>

<div class="empty">

</div>

<div class="empty">

</div>

<div class="empty">

</div>

</div>

<div class="footer">
  <button {{action 'checkAdmin' model}}>Log In</button>
</div>
