

<div class="main-title">

  <div class="video-container">
    <video muted autoplay loop class="fillWidth">
      <source src="/assets/monkey.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div>
  <h1>SmuggleBud</h1>
  <h5>Dream it up! We got'ch you.</h5>
      <!-- <img class="arrow" src="/assets/down1.png" alt="" /> -->
  </div>

  {{#scroll-to href='#writing'}}<img class="arrow" src="/assets/navy.png" alt="" /> {{/scroll-to}}

{{home-carousel}}
<div id="writing" class="writing1">
  <h3>Welcome to SmuggleBud</h3>
  <p>Not long ago our founder, Aundra, was looking for a birthday puma for her daughter.  Oddly enough, after checking the local pet shops and being asked to leave multiple zoos, Aundra came up empty handed. Unable to bear the bitter tears, which she knew would be the result of a puma-free birthday, Aundra turned to the black market.  While she eventually found a puma, Aundra felt her experience left much to be desired. Long delays, no yelp reviews, and no gift-wrapping?! With her spoiled daughter and the disgustingly rich and conscience-free consumer in mind, SmuggleBud was born.  So order your own cat, dog, or panda today, shipping and judgement-free.
  </p>
  <h4>Happy Hunting,<br> All of Us at SmuggleBud</h4>
</div>

<div class="index-container">


<div class="empty" id="empty1">
  <img src="http://news.nationalgeographic.com/content/dam/news/2016/01/26/great_white_shark/01great_white_shark.ngsversion.1453834801533.jpg" alt="friendly shark" />
</div>

<div class="empty">
  <img src="http://www.gannett-cdn.com/-mm-/7d9f1a1b095e75648c5f4220bb21fd1a7c1e3fa2/c=247-0-4009-2826&r=x513&c=680x510/local/-/media/CherryHill/CherryHill/2014/05/29//1401390825000-hippos-01.jpg" alt="hippo" />
</div>

<div class="empty">
  <img src="http://critterbabies.com/wp-content/uploads/2014/01/baby_puma.jpg" alt="baby puma" />
</div>

<div class="empty">
  <img src="http://i.dailymail.co.uk/i/pix/2008/05_01/cheekymonkeyPA_468x508.jpg" alt="hungry monkey" />
</div>



</div>


<div class="prior-footer">
  <img src="http://cdn-www.volusion.com/sites/default/files/footer-logos-us.jpg" alt="" />

</div>

<!-- <div class="footer1">
  <button {{action 'checkAdmin' model}}>Admin log-in</button>
</div> -->

<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Bringing Animals From Around the World</h1>
    <p>We have a professional staff trained to aquire every known animal from around the globe.  If it runs, we can catch it.  There is no animal too big, too small or too endanged enough to keep us away.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
    <h1 class="flex-title">Sign Up For Special Deals</h1>
    <p>Sign up for exclusive deals on the most extinct animals.  Don't hesitate, inventory is limited.  Get one before it goes extinct.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1 class="flex-title">Animal Warranty</h1>
    <p>All of our animals come with a 100% guarantee.  It arrives on your doorstep or receive 2 free!  *Given that there are 2 more left in the world.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Discreet Shipping</h1>
    <p>We protect your identity and share it with no one.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Deliver to Over 135 Countries</h1>
    <p>We ship to nearly every country.  Most deliveries are overnight from placed order.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1 class="flex-title">100% Confidentiality</h1>
    <p>We do not share your information with law enforcement or animal rights activists.</p>
  </a>
</div>

<div class="footer1">
  <button {{action 'checkAdmin' model}}>Admin log-in</button>
</div>
