<div class="log-in">
  {{login-tile logIn="logIn" users=model}}

  <img src="http://www.internationalanimalrescue.org/sites/default/files/styles/porthole_large/public/orang09ndpa.jpg?itok=PmhbSm-z" alt="monkies" />

</div>
